body{
    background-color: #98bbc8;
}
#education, #work_experience{
    width: 75%;
    text-align: center;
    margin: 20px auto 0 auto;
    background-color: white;
    border-color: #98bbc8;
    border-radius: 15px;
    border-collapse: collapse;
}
a{
    color: black;
}
th{
    font-size: 20pt;
}
th,tr,td{
    padding:10px;
}

#personal_info tr td:nth-child(odd){
    font-weight:900;
}

#personal_info tr td:nth-child(even){
    background-color: rgb(245, 245, 245);
}

#personal_info{
    width: 30%;
    background-color: white;
    padding: 10px;
}
#footer{
    bottom: 0;
    left: 0;
    padding: 5px;
    font-size: 14pt;
    text-align: center;
    background-color: rgb(119, 119, 119);
    width: 100%;
    position:fixed;
}
#topBar{
    background-color: white;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
}
#navBar{
    float: right;
    width: auto;
    height: auto;
    overflow: hidden;
}
#about{
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

#about:hover{
    background-color: bisque;
    transition-duration: 1s;
}

#about_me{
    margin-top: 75px;
}
